* { box-sizing: border-box; }

body {
  min-height: 100vh;
  background-color: #FCD34D;
  font-family: system-ui, arial;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

a { text-decoration: none }
a:hover, a:focus { text-decoration: underline }

aside,
article,
main {
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  height: fit-content;
  margin: 5px;
  padding: 0 16px;
}

aside,
article .closer {
  color: #44403C;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

aside p label,
article .closer p label {
  display: inline-block;
  width: 56px;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.avatar img {
  height: 52px;
  width: 52px;
  margin-right: 16px;
  padding: 10px;
  border-radius: 26px;
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.avatar span {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.essay-preview p {
  margin: 0;
  color: #78716C;
}

.essay-preview a {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

article {
  padding-top: 16px;
}

article .back {
  margin-bottom: 16px;
}

article time {
  color: #78716C;
}

article h1 {
  margin: 0;
}

article h2 {
  margin: 3px 0 32px;
}

article p {
  max-width: 670px;
}

article h2 {
  color: #44403C;
  font-weight: normal;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.25rem;
}

article figure { margin: 0 }

article figure img { width: 100% }

article figure figcaption {
  color: #44403C;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 1.25rem;
  text-align: center;
}

article .closer { margin: 52px 0 32px; }

@media (min-width: 640px) {
  body {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}


@media (min-width: 1024px) {
  .x {
    width: 1024px;
    margin: auto;
    display: flex;
  }

  aside {
    width: 300px;
    order: 1;
  }

  article,
  main {
    flex: 1;
    padding-left: 48px;
    padding-right: 48px;
  }

  article .closer {
    padding: 0 32px;
  }
}
